html, body {
  background: $body-bg;
  font-family: $font-family-sans-serif;
}

@import 'forms';
.divider {
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo-container {
  background: linear-gradient(97deg, $logo-color-primary, $f6b092);
  border-radius: 8px 0 0 8px;
  .logo-login {
    width: 250px;
  }
}
.login-section {
  padding-left: 50px;
  padding-right: 50px;
}
.login-container {
  background: #ffffff;
  color: #333333;
  border-radius: 0 8px 8px 0;
  h1,h2,h3,h4,h5 {
    color: #555555 !important;
    font-family: $font-family-sans-serif;
    @include fontstyle(400, normal, normal, 0.4);
  }
}
@media screen and(max-width: 768px)  {
  .login-container {
    border-radius: 8px;
  }
}
////////// end of login container

//// layout
.header {
  //background: #222222;
  background: linear-gradient(97deg, $f6c492, $f6a192);
  .header-logo {
    img { width: 120px;}
  }
  .header-nav li {
    a {
      color: #ffffff;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      @include fontstyle(600, normal, normal, 0.4);
      &:hover, &:active, &:focus {
        background: $f6a192;
        color: #ffffff;
      }
    }
  }
  .header-dropdown-container {
    background: #ffffff;
    .header-dropdown-nav li {
      a {
        color: #333333;
        font-size: 13px;
        font-family: $font-family-sans-serif;
        @include fontstyle(600, normal, normal, 0.4);
        &:hover, &:active, &:focus {
          background: none;
          color: $f6a192;
        }
      }
    }
  }
}

.main-navbar-container {
  background: #ffffff;
  &:hover {
    overflow-y: scroll;
  }
  .main-nav {
    .uk-nav-header {
      color: #888888 !important;
      font-size: 16px;
      font-family: $font-family-sans-serif;
      @include fontstyle(700, normal, normal, 0.4);
    }
    li {
      a {
        padding: 8px 20px;
        font-size: 14px;
        font-family: $font-family-sans-serif;
        @include fontstyle(400, normal, normal, 0.4);
        color: #777777 !important;
        &:hover, &:active, &:focus {
          background: none;
          color: $f6a192 !important;
        }
      }
    }
  }
}

.table-rows {
  background: #ffffff;
  color: #666666;
  tr {
    border-bottom: 1px solid $f6a192 !important;
    &:last-child {
      border-bottom: 0 !important;
    }
  }
  th {
    font-size: 14px;
    font-family: $font-family-sans-serif;
    @include fontstyle(600, normal, normal, 0.4);
    color: #666666 !important;
    border-bottom: 1px solid $f6a192 !important;
  }
}
.modal-dialog {
  border-radius: 4px;
  .modal-body {
    font-size: 14px;
    font-family: $font-family-sans-serif;
    color: #333333;
    @include fontstyle(600, normal, normal, 0.4);
    .modal-heading {
      font-size: 24px;
      font-family: $font-family-sans-serif;
      @include fontstyle(600, normal, normal, 0.4);
      color: #333333;
    }
  }
}

.view-transaction {
  border-radius: 3px;
  .view-transaction-header {
    font-size: 20px;
    font-family: $font-family-sans-serif;
    color: #333333;
    @include fontstyle(600, normal, normal, 0.4px);
    text-align: center;
  }
  .view-transaction-heading {
    font-size: 13px;
    font-family: $font-family-sans-serif;
    color: #333333;
    @include fontstyle(400, normal, normal, 0.4px);
  }
  .view-transaction-value {
    font-size: 16px;
    font-family: $font-family-sans-serif;
    color: #333333;
    @include fontstyle(400, normal, normal, 0.4px);
  }
  .view_transaction-accept {
    border-radius: 2px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    color: #ffffff;
    @include fontstyle(400, normal, normal, 0.4px);
    background: linear-gradient(97deg, $f6c492, $f6a192);
  }
  .view_transaction-reject {
    border-radius: 2px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    @include fontstyle(400, normal, normal, 0.4px);
  }
}

// dashboard
.dashboard_filter_action {
  border-radius: 3px;
  border: 1px solid #eeeeee;
  color: #777777;
  font-size: 14px;
  font-family: $font-family-sans-serif;
  @include fontstyle(400, normal, normal, 0.4px);
}
.dashboard-welcome-screen
{
  .dashboard-hello {
    font-size: 26px;
    font-family: $font-family-sans-serif;
    color: #666666;
    @include fontstyle(400, normal, normal, 0.4px);
  }
}

.dashboard_alluser_header {
  font-size: 22px;
  font-family: $font-family-sans-serif;
  color: #444444;
  @include fontstyle(400, normal, normal, 0.4px);
}
.dashboard_alluser_grid {
  border-radius: 4px;
  .dashboard_alluser_value {
    font-size: 22px;
    font-family: $font-family-sans-serif;
    color: #444444;
    @include fontstyle(400, normal, normal, 0.4px);
    margin-bottom: 5px;
  }
  .dashboard_alluser_title {
    font-size: 13px;
    font-family: $font-family-sans-serif;
    color: #999999;
    @include fontstyle(400, normal, normal, 0.4px);
    margin-top: 5px;
  }
}

.dashboard_grid_statustransaction {
  border-radius: 4px;
  .dash_statustransaction_title {
    font-size: 13px;
    font-family: $font-family-sans-serif;
    color: #999999;
    @include fontstyle(400, normal, normal, 0.4px);
    margin-top: 5px;
  }
  .dash_statustransaction_value {
    font-size: 22px;
    font-family: $font-family-sans-serif;
    color: #444444;
    @include fontstyle(400, normal, normal, 0.4px);
    margin-bottom: 5px;
  }
}
// dashboard
