.hmpg-findvendor-box {
  .findvendor-formicon { color: #ffffff; }
  .findvendor-form {
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-family: $font-primary;
    font-size: 14px;
    background: rgba(255,255,255,0.2);
    height: 50px;
    @include fontstyle(400, normal, normal, 0.6px);
    &::placeholder { color: #ffffff; }
    &:hover, &:focus {
      .findvendor-formicon { color: #666666; }
      &::placeholder { color: #666666; }
      color: #666666;
      background: #ffffff !important;
    }
  }
  .findcity-hmpg {
    border-radius: 4px;
    font-family: $font-primary;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    border: 1px solid $logo-color-primary;
    text-transform: capitalize;
    height: 45px;
    @include fontstyle(700, normal, normal, 0.6px);
  }

}
