.hmpg-findvendor-box {
  .findvendor-formicon { color: #ffffff; }
  .findvendor-form {
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-family: $font-primary;
    font-size: 14px;
    background: rgba(255,255,255,0.2);
    height: 50px;
    @include fontstyle(400, normal, normal, 0.6px);
    &::placeholder { color: #ffffff; }
    &:hover, &:focus {
      .findvendor-formicon { color: #666666; }
      &::placeholder { color: #666666; }
      color: #666666;
      background: #ffffff !important;
    }
  }
  .findcity-hmpg {
    border-radius: 4px;
    font-family: $font-primary;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    border: 1px solid $logo-color-primary;
    text-transform: capitalize;
    height: 45px;
    @include fontstyle(700, normal, normal, 0.6px);
  }

}

.sectioncontainer-joinasvendor {
  .label-joinasvendor {
    font-family: $font-primary;
    font-size: 14px;
    color: #666666;
    @include fontstyle(600, normal, normal, 0.6px);
    margin-bottom: 5px;
  }
  .sublabel-joinasvendor {
    font-family: $font-primary;
    font-size: 13px;
    color: #888888;
    @include fontstyle(400, normal, normal, 0.6px);
    margin-bottom: 10px;
  }
  .form-joinasvendor {
    border-radius: 2px;
    color: #333333;
    font-family: $font-primary;
    font-size: 14px;
    @include fontstyle(400, normal, normal, 0.4px);
    &:hover, &:focus {
      border: 1px solid $f6b092;
      color: #555555;
    }
  }
  .button-joinasvendor {
    border-radius: 2px;
    font-family: $font-primary;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    border: 1px solid $logo-color-primary;
    text-transform: capitalize;
    @include fontstyle(400, normal, normal, 0.4px);
  }
}
