html,body {
  background: #f9f9f9;
  font-family: $font-secondary;
}
.modal-body {
  .form-settinglabel {
    color: #777777;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .form-settingaction {
    border-radius: 4px;
    color: #777777;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.6px);
    &::placeholder { color: #777777; }
    &:hover, &:focus {
      &::placeholder { color: #444444; }
      color: #444444;
      border: 1px solid $f6b092;
    }
  }
  .btn_settingaction, .btn_uploadphoto {
    border: 0;
    border-radius: 4px;
    font-family: $font-primary;
    font-size: 13px;
    color: #ffffff;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    text-transform: capitalize;
    @include fontstyle(600, normal, normal, 0.6px);
    &:hover, &:focus {
      border: 0;
      color: #ffffff;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    }
  }

  .modal_heading {
    font-family: $font-primary;
    .modal_textheading {
      color: #666666;
      @include fontstyle(600, normal, normal, 0.4px);
    }
    .modal_subtextheading {
      color: #888888;
      font-size: 12px;
      @include fontstyle(400, normal, normal, 0.4px);
    }
  }
}

.footer {
  margin-top: 5em;
  .mainfooter {
    background: linear-gradient(97deg, $f6a192, $f6b092);
  }
  .aboutus {
    .footer-aboutus_heading {
      font-family: $font-primary;
      font-size: 20px;
      @include fontstyle( 400, normal, normal, 0.4px );
      color: #ffffff;
      margin-bottom: 10px;
    }
    .footer-aboutus_text {
      font-family: $font-primary;
      font-size: 14px;
      @include fontstyle( 400, normal, normal, 0.8px );
      color: #ffffff;
    }
  }
  .contactus {
    .footer-contact_heading {
      font-family: $font-primary;
      font-size: 20px;
      @include fontstyle( 400, normal, normal, 0.4px );
      color: #ffffff;
      margin-bottom: 10px;
    }
    .footer-contact_text {
      font-family: $font-primary;
      font-size: 14px;
      @include fontstyle( 400, normal, normal, 0.8px );
      color: #ffffff;
      a {
        font-family: $font-primary;
        font-size: 14px;
        @include fontstyle( 400, normal, normal, 0.4px );
        color: #ffffff;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    font-family: $font-primary;
    font-size: 14px;
    @include fontstyle( 400, normal, normal, 0.4px );
  }
  .footer_links {
    li a {
      font-family: $font-primary;
      font-size: 14px;
      @include fontstyle( 400, normal, normal, 0.4px );
      color: #ffffff;
      text-transform: capitalize;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}


.cover-homepage {
  .cover-overlay-homepage {
    padding: 0 !important;
    background: linear-gradient(108deg,
    rgba(246,161,146,0.1),
    rgba(246,207,146,0.5),
    rgba(246,176,146,0.3)) !important;
  }
  .navbar-homepage {
    .logo-homepage-white {
      img {
        width: 160px;
      }
    }
    .nav-hmpg li {
      a {
        color: #ffffff;
        font-family: $font-primary;
        font-size: 13px;
        @include fontstyle(600, normal, normal, 0.4px);
        text-transform: capitalize !important;
      }
      .joinascustomer div {
        border-radius: 3px;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        color: #ffffff;
        padding: 10px 20px;
      }
    }
    .nav-hmpg {
      .navbarhmpgdropdowncustomer {
        padding: 0;
        box-shadow: none;
        margin: 0;
        ul {
          li {
            a {
              color: #777777;
              font-size: 12px;
              font-family: $font-primary;
              padding-left: 15px;
              padding-top: 10px;
              padding-bottom: 10px;
              text-transform: capitalize !important;
              @include fontstyle(400, normal, normal, 0.4px);
              &:hover {
                background: linear-gradient(97deg, $logo-color-primary, $f6b092);
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .findvendor-hmpg-content {
    margin-left: 5em;
    .temukan-vendor-hmpg {
      color: #ffffff;
      font-family: $font-secondary;
      font-size: 42px;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .hmpg-button {
      margin-top: 25px;
      .joinasvendor {
        color: #ffffff;
        font-family: $font-primary;
        font-size: 14px;
        @include fontstyle(600, normal, normal, 0.8px);
        text-decoration: none;
        border-radius: 4px;
        border: 0;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        text-transform: capitalize;
        &:hover, &:focus {
          border: 0;
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
          color: #ffffff;
        }
      }
      .findvendor {
        color: #666666;
        font-family: $font-primary;
        font-size: 14px;
        @include fontstyle(600, normal, normal, 0.8px);
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 4px;
        border: 0;
        background: #ffffff;
        &:hover, &:focus {
          border: 0;
          background: #ffffff;
          color: #666666;
        }
      }
    }
  }
}

// customers
.customers-loginlogo { width: 150px; }
.customers-logincontainer {
  border-radius: 4px;
  font-family: $font-primary;
  @include fontstyle(300, normal, normal, 0.4px);
  .customers-formlogin {
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    color: #333333;
    font-family: $font-primary;
    font-size: 13px;
    height: 50px;
    @include fontstyle(400, normal, normal, 0.4px);
    &::placeholder { font-size: 13px; }
    &:hover, &:focus {
      border-bottom: 1px solid $f6b092;
    }
  }
  .customers-btnlogin {
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: $font-primary;
    font-size: 14px;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .customers-loginheading {
    color: #666666;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .customers-loginlead {
    color: #666666;
    font-size: 12px;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.6px);
    margin-bottom: 15px;
    a { color: $logo-color-primary; &:hover { color: $logo-color-primary; } }
  }

  .ingatkansaya {
    font-size: 12px;
    font-family: $font-primary;
    margin-right: 5px;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .lupapassword {
    font-size: 12px;
    font-family: $font-primary;
    color: $f6b092;
    @include fontstyle(400, normal, normal, 0.6px);
  }
}
.forgotpassword-container {
  border-radius: 4px;
  font-family: $font-primary;
  @include fontstyle(300, normal, normal, 0.4px);
  margin-top: 8em;
  h2 {
    color: #555555;
    font-size: 28px;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .homepage {
    color: #666666;
    font-size: 12px;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.6px);
    margin-bottom: 15px;
    a { color: $logo-color-primary; &:hover { color: $logo-color-primary; } }
  }
  .forgotpassword_label {
    color: #444444;
    font-size: 14px;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .forgotpassword_form {
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    color: #333333;
    font-family: $font-primary;
    font-size: 13px;
    height: 50px;
    @include fontstyle(400, normal, normal, 0.4px);
    &::placeholder { font-size: 13px; }
    &:hover, &:focus {
      border-bottom: 1px solid $f6b092;
    }
  }
  .forgotpassword_btn {
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: $font-primary;
    font-size: 16px;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    text-transform: capitalize;
    @include fontstyle(400, normal, normal, 0.6px);
  }
}
.navbarcustomer {
  background: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  box-shadow: none;
  .navtopcustomer li {
    .logo { width: 150px; }
    .navcusticon { font-size: 16px !important; }
    a {
      color: #777777;
      font-size: 14px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(600, normal, normal, 0.4px);
      &:hover { color: $f6b092; }
    }
    .joinascustomer div {
      border-radius: 3px;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      color: #ffffff;
      padding: 10px 20px;
    }
  }
  .navtopcustomer {
    .navbardropdowncustomer {
      padding: 0;
      box-shadow: none;
      border: 1px solid #e9e9e9;
      margin: 0;
      ul li {
        a {
          color: #777777;
          font-size: 12px;
          font-family: $font-primary;
          padding-left: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-transform: capitalize !important;
          @include fontstyle(400, normal, normal, 0.4px);
          &:hover {
            background: linear-gradient(97deg, $logo-color-primary, $f6b092);
            color: #ffffff;
          }
        }
      }
    }
  }
}

.dashb_customer {
  padding-top: 35px;
  .dash_customername {
    color: #777777;
    font-size: 28px;
    font-family: $font-primary;
    text-transform: capitalize !important;
    @include fontstyle(600, normal, normal, 0.4px);
  }
  .dash_customerhistory {
    .dash_historytransaction {
      color: #aaaaaa;
      font-size: 13px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(400, normal, normal, 0.4px);
      margin-right: 5px;
    }
    .dash_vendorpilihan {
      color: $f6b092;
      font-size: 13px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(400, normal, normal, 0.4px);
    }
  }
  .dash_customercredit {
    text-align: right;
    .dash_customercredit_text {
      color: #aaaaaa;
      font-size: 15px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .dash_customercredit_balance {
      color: #777777;
      font-size: 28px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(600, normal, normal, 0.4px);
    }
  }

  .board_bookingvendor {
    margin-top: 40px;
    .board_listbookingvendor {
      box-shadow: none;
      border-top: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      .board_neverbooking_icon {
        font-size: 72px;
        text-align: center;
        span {
          color: $f6b092;
          /*padding: 45px 45px;
          border-radius: 100%;*/
        }
      }
      .board_neverbooking_text {
        font-size: 16px;
        text-align: center;
        color: #999999;
        margin-top: 20px;
        font-family: $font-primary;
        @include fontstyle(400, normal, normal, 0.4px);
      }
      .board_bookbutton {
        margin-top: 20px;
        border: 1px solid $f6b092;
        background: none;
        color: $f6b092;
        font-size: 16px;
        font-family: $font-primary;
        @include fontstyle(600, normal, normal, 0.4px);
        border-radius: 4px;
        &:hover, &:focus {
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
          color: #ffffff;
        }
      }
    }
  }
}

.navsidebar {
  box-shadow: none;
  border: 1px solid #e9e9e9;
  border-top: 0;
  ul {
    .heading {
      color: #555555;
      font-size: 14px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(600, normal, normal, 0.4px);
      text-align: left;
    }
    .membersince {
      color: #555555;
      font-size: 14px;
      font-family: $font-primary;
      text-transform: capitalize !important;
      @include fontstyle(600, normal, normal, 0.4px);
      text-align: left;
    }
    li {
      a {
        color: #777777;
        font-size: 12px;
        font-family: $font-primary;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: capitalize !important;
        @include fontstyle(400, normal, normal, 0.4px);
        &:hover {
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
          color: #ffffff;
        }
      }
    }
  }
}

.container-settingaccount {
  box-shadow: none;
  border: 1px solid #e9e9e9;
  .logobrand-container {
    background: #f9f9f9;
    color: #666666;
    font-family: $font-primary;
    @include fontstyle(600, normal, normal, 0.4px);
    border: 2px dashed #dddddd;
  }
  .content_headingsettingprofile {
    color: #777777;
    font-family: $font-primary;
    @include fontstyle(600, normal, normal, 0.4px);
  }
  .form-settinglabel {
    color: #777777;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.6px);
  }
  .form-settingaction {
    border-radius: 4px;
    color: #777777;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.6px);
    &::placeholder { color: #777777; }
    &:hover, &:focus {
      &::placeholder { color: #444444; }
      color: #444444;
      border: 1px solid $f6b092;
    }
  }
  .btn_settingaction, .btn_uploadphoto {
    border: 0;
    border-radius: 4px;
    font-family: $font-primary;
    font-size: 13px;
    color: #ffffff;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    text-transform: capitalize;
    @include fontstyle(600, normal, normal, 0.6px);
    &:hover, &:focus {
      border: 0;
      color: #ffffff;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    }
  }
}
// customers


// vendors
.cover-joinasvendor {
  background: linear-gradient(97deg, $logo-color-primary, $f6b092);
  height: 350px;
}
.container-joinasvendor {
  margin-top: -15em;
  .slugtext-joinasvendor {
    text-align: center;
    color: #ffffff;
    @include fontstyle(300, normal, normal, 0.4px);
    font-family: $font-primary;
    font-size: 24px;
  }
  .sectioncontainer-joinasvendor {
    border-radius: 2px;
    .sectionheading-joinasvendor {
      text-align: center;
      color: #777777;
      @include fontstyle(600, normal, normal, 0.6px);
      font-family: $font-primary;
    }
    .sectionbox-joinasvendor {
      border: 1px solid #e9e9e9;
      div {
        font-size: 16px;
        text-align: center;
        color: #555555;
        @include fontstyle(600, normal, normal, 0.6px);
        font-family: $font-primary;
        text-transform: uppercase;
      }
      span {
        text-align: center;
        color: #888888;
        @include fontstyle(400, normal, normal, 0.6px);
        font-family: $font-primary;
        font-size: 14px;
      }
    }
  }
}

.navsetvendor {
  border-bottom: 1px solid #e9e9e9;
  ul {
    li {
      a {
        color: #777777;
        @include fontstyle(400, normal, normal, 0.6px);
        font-family: $font-primary;
        font-size: 12px;
        text-transform: capitalize;
        &:hover, &:focus {
          color: $logo-color-primary;
          border-bottom: 1px solid $logo-color-primary;
        }
      }
    }
    .active {
      a {
        color: $logo-color-primary;
        border-bottom: 1px solid $logo-color-primary;
      }
    }
  }
}
// vendors

.coverbg {
  height: 300px;
  .coverbg-overlay {
    background: linear-gradient(30deg,
      rgba(0,0,0,1),
      rgba(0,0,0,0.1)
    );
    .coverbg-heading {
      font-family: $font-secondary;
      @include fontstyle(600, normal, normal, 0.4px);
      font-size: 64px;
      margin-bottom: 1em;
      margin-left: 1.1em;
      background-image: $webkit-gradient-color;
      background-image: $gradient-color;
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}
.discovery-container {
  .discovery_heading {
    font-family: $font-primary;
    color: #666666;
    @include fontstyle(600, normal, normal, 0.8px);
  }
  .discoverysearch {
    .searchdiscovery {
      border: 0;
      border-radius: 4px;
      color: #666666;
      font-family: $font-primary;
      font-size: 12px;
      @include fontstyle(400, normal, normal, 0.8px);
      &::placeholder {
        color: #999999;
      }
      &:hover, &:focus {
        &::placeholder { color: #666666; }
        color: #666666;
      }
    }
  }
  .searchkota {
    border: 0;
    border-radius: 4px;
    color: #666666;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.8px);
    &::placeholder {
      color: #999999;
    }
    &:hover, &:focus {
      &::placeholder { color: #666666; }
      color: #666666;
    }
  }
  .discoverygrid_box {
    .discoverygrid_logo {
      overflow: hidden;
      height: 150px;
      img {
        width: 100%;
      }
      .discoverygrid_nologo {
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        a {
          color: #ffffff;
          &:hover { color: #ffffff; }
        }
      }
    }
    .discoverygrid_heading {
      color: #666666;
      font-family: $font-primary;
      font-size: 21px;
      @include fontstyle(400, normal, normal, 0.8px);
      text-decoration: none;
    }
    .discoverygrid_subtext {
      color: #888888;
      font-family: $font-primary;
      font-size: 13px;
      @include fontstyle(400, normal, normal, 0.8px);
    }
  }
  .discoveryfilter {
    ul {
      li {
        a {
          color: #888888;
          font-family: $font-primary;
          font-size: 13px;
          @include fontstyle(400, normal, normal, 0.8px);
          padding: 10px 15px;
          &:hover {
            background: $f6b092;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.profile-badge-container {
  .pb-badge-header {
    border: 1px solid #eeeeee;
    box-shadow: none;
    .pb-badge-vendorname {
      a {
        color: $logo-color-primary;
        font-family: $font-primary;
        font-size: 14px;
        @include fontstyle(600, normal, normal, 0.8px);
        text-decoration: none;
        &:hover {
          color: $logo-color-primary;
        }
      }
    }
    .pb-badge-vendorlocation {
      color: #888888;
      font-family: $font-primary;
      font-size: 11px;
      @include fontstyle(400, normal, normal, 0.8px);
    }
  }
  .pb-badge-action {
    border: 1px solid #eeeeee;
    border-top: 0;
    box-shadow: none;
    .pb-btnaction {
      border: 1px solid #eeeeee;
      color: #888888;
      font-family: $font-primary;
      font-size: 13px;
      @include fontstyle(400, normal, normal, 0.8px);
      text-transform: capitalize;
      border-radius: 2px;
      &:hover {
        background: $logo-color-primary;
        color: #ffffff;
        border: 1px solid $logo-color-primary;
      }
    }
  }
  .pb-badge-info {
    border: 1px solid #eeeeee;
    border-top: 0;
    box-shadow: none;
    .pb-listinfo {
      li {
        color: #888888;
        font-family: $font-primary;
        font-size: 13px;
        @include fontstyle(400, normal, normal, 0.8px);
      }
    }
  }
}

.portfolio-vendor {
  border: 1px solid #eeeeee;
  box-shadow: none;
  font-family: $font-primary;
  @include fontstyle(400, normal, normal, 0.4px);
  font-size: 13px;
  .pv-formperrow {
    border-radius: 2px;
    border: 1px solid $f6b092;
    color: #777777;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.4px);
    &:hover, &:focus {
      color: #666666;
    }
  }
  .pv-thumbnail {
    .pv-mediathumbnail {
      .pv-iconoverlay {
        background: rgba(0,0,0,0.7);
        color: #ffffff
      }
      .pv-nothumbnail {
        color: #ffffff;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      }
    }
  }
}

.portfoliogrid_box {
  .portfoliogrid_action {
    .portfoliogrid_btnaction {
      border: 0;
      font-family: $font-primary;
      font-size: 12px;
      color: #777777;
      text-transform: capitalize;
    }
  }
  .portfoliogrid_heading {
    color: #666666;
    font-family: $font-primary;
    font-size: 21px;
    @include fontstyle(400, normal, normal, 0.8px);
    text-decoration: none;
  }
}

.plbox {
  .plbox_action {
    .plgrid_btnaction {
      border: 0;
      font-family: $font-primary;
      font-size: 12px;
      color: #777777;
      text-transform: capitalize;
    }
  }
}

.booking_container {
  .booking_header {
    background: #f9f9f9;
    margin-bottom: 4em;
    .booking_heading {
      font-family: $font-primary;
      font-size: 21px;
      color: #666666;
      @include fontstyle(600, normal, normal, 0.8px);
    }
    .booking_subheading {
      font-family: $font-primary;
      font-size: 13px;
      color: #888888;
      @include fontstyle(400, normal, normal, 0.8px);
    }
  }
  .booking_formcontent {
    box-shadow: none;
    .booking_bodyform {
      margin-top: -6.5em;
      background: #ffffff;
      .booking_btnaction {
        border: 0;
        border-radius: 2px;
        font-family: $font-primary;
        font-size: 13px;
        color: #ffffff;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        text-transform: capitalize;
        @include fontstyle(600, normal, normal, 0.6px);
        &:hover, &:focus {
          border: 0;
          color: #ffffff;
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        }
      }
    }
    .booking_gridbox {
      box-shadow: none;
      .booking_formaction {
        border-radius: 2px;
        border: 1px solid #eeeeee;
        color: #777777;
        font-family: $font-primary;
        font-size: 12px;
        @include fontstyle(400, normal, normal, 0.4px);
        &:hover, &:focus {
          color: #666666;
          border: 1px solid $f6b092;
        }
      }
      .booking_gridbox_heading {
        font-family: $font-primary;
        font-size: 16px;
        color: #666666;
        @include fontstyle(600, normal, normal, 0.8px);
        margin-bottom: 5px;
      }
    }
  }
}

.content_mainorders_header {
  background: #f9f9f9;
  .content_mainorders_heading {
    font-family: $font-primary;
    margin-bottom: 5em;
    .summary_headertitle {
      font-size: 28px;
      color: #666666;
      @include fontstyle(600, normal, normal, 0.4px);
    }
    .summary_subtitle {
      font-size: 14px;
      color: #888888;
      @include fontstyle(400, normal, normal, 0.4px);
    }
  }
}
.content_mainorder_body {
  background: #ffffff;
  .content_summaryorder {
    margin-top: -7em;
    font-family: $font-primary;
    .content_summaryorder_header {
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      .summaryorder_title {
        font-size: 28px;
        color: #ffffff;
        @include fontstyle(600, normal, normal, 0.4px);
      }
      .summaryorder_subtitle {
        font-size: 16px;
        color: #ffffff;
        @include fontstyle(400, normal, normal, 0.4px);
      }
    }
    .content_summaryorder_detail {
      border: 1px solid #e9e9e9;
      border-top: 0;
      .summarydetail-orderdate-title,
      .summarydetail-address-title,
      .summarydetail-mobilenumber-title,
      .summarydetail-note-title,
      .summarydetail-layoutdesign-title,
      .summarydetail-report-title {
        font-size: 12px;
        color: #888888;
        @include fontstyle(400, normal, normal, 0.4px);
        margin-bottom: 5px;
      }
      .summarydetail-orderdate-value,
      .summarydetail-address-value,
      .summarydetail-mobilenumber-value,
      .summarydetail-note-value,
      .summarydetail-layoutdesign-value,
      .summarydetail-report-value {
        font-size: 16px;
        color: #666666;
        @include fontstyle(400, normal, normal, 0.4px);
      }
      .summarydetail-report-value {
        .view-transaction-heading {
          font-size: 14px;
          font-family: $font-primary;
          color: #333333;
          @include fontstyle(400, normal, normal, 0.4px);
        }
        .view-transaction-value {
          font-size: 14px;
          font-family: $font-primary;
          color: #333333;
          @include fontstyle(400, normal, normal, 0.4px);
        }
      }
      .summarydetail-editorder {
        border-radius: 2px;
        font-family: $font-primary;
        font-size: 13px;
        color: $logo-color-primary;
        border: 1px solid $logo-color-primary;
        text-transform: capitalize;
        @include fontstyle(400, normal, normal, 0.6px);
        &:hover, &:focus {
          color: #ffffff;
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        }
      }
      .summarydetail_download {
        border-radius: 2px;
        font-family: $font-primary;
        font-size: 13px;
        color: $logo-color-primary;
        border: 1px solid $logo-color-primary;
        text-transform: capitalize;
        @include fontstyle(400, normal, normal, 0.6px);
        &:hover, &:focus {
          color: #ffffff;
          background: linear-gradient(97deg, $logo-color-primary, $f6b092);
        }
      }
    }
  }

  .sidebar_summaryorder_header {
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    font-family: $font-primary;
    .sidebar_summaryorder_title {
      font-size: 18px;
      color: #ffffff;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .sidebar_summaryorder_subtitle {
      font-size: 14px;
      color: #ffffff;
      @include fontstyle(400, normal, normal, 0.4px);
    }
  }
  .sidebar_summaryorder_detail {
    font-family: $font-primary;
    border: 1px solid #e9e9e9;
    border-top: 0;
    .summarydetail-formselect {
      border-radius: 2px;
      color: #777777;
      font-family: $font-primary;
      font-size: 12px;
      @include fontstyle(400, normal, normal, 0.6px);
      &:hover, &:focus {
        color: #444444;
        border: 1px solid $f6b092;
      }
    }
    .side_summarydetail-metodepembayaran-title,
    .side_summarydetail-bankpembayaran-title,
    .side_summarydetail-kodepembayaran-title,
    .side_summarydetail-statustransaction-title,
    .side_summarydetail-layananpremium-title,
    .side_summarydetail-totaltransaction-title {
      font-size: 14px;
      color: #777777;
      @include fontstyle(400, normal, normal, 0.4px);
      margin-bottom: 10px;
    }
    .side_summarydetail-metodepembayaran-value,
    .side_summarydetail-bankpembayaran-value,
    .side_summarydetail-kodepembayaran-value,
    .side_summarydetail-statustransaction-value,
    .side_summarydetail-layananpremium-value {
      font-size: 14px;
      color: #555555;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .side_summarydetail-totaltransaction-value {
      font-size: 12px;
      color: #555555;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .side_summarydetail-bankpembayaran-value {
      .side_summarydetail-dropdownbank {
        border-radius: 2px;
        font-family: $font-primary;
        font-size: 13px;
        color: #666666;
        border: 1px solid #e9e9e9;
        text-transform: capitalize;
        @include fontstyle(400, normal, normal, 0.6px);
        &:hover, &:focus {
          color: #444444;
          border: 1px solid $logo-color-primary;
        }
      }
      .summarydetail_dropdownbank-container {
        height: 100px;
        border-radius: 3px;
        overflow-y: scroll;
        padding: 0;
        ul {
          li {
            a {
              padding: 10px 16px;
              color: #666666;
              font-family: $font-primary;
              @include fontstyle(300, normal, normal, 0.4px);
              &:hover, &:focus {
                background: linear-gradient(97deg, $logo-color-primary, $f6b092);
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .side_summarydetail-kodepembayaran-value i {
      font-size: 11px;
      color: #888888;
      font-style: italic !important;
    }
    .side_summarydetail-subvalue {
      font-size: 11px;
      color: #888888;
      margin-top: 10px;
    }
    .side_summarydetail-checkout {
      border-radius: 2px;
      font-family: $font-primary;
      font-size: 13px;
      color: #ffffff;
      border: 0;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      text-transform: capitalize;
      @include fontstyle(400, normal, normal, 0.6px);
      &:hover, &:focus {
        color: #ffffff;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      }
    }
    .side_summarydetail-approved,
    .side_summarydetail-reject {
      border-radius: 2px;
      font-family: $font-primary;
      font-size: 13px;
      color: $f6b092;
      border: 1px solid $f6b092;
      background: none;
      text-transform: capitalize;
      @include fontstyle(400, normal, normal, 0.6px);
      &:hover, &:focus {
        color: #ffffff;
        background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      }
    }
  }
}

.summary-transaction-content {
  font-family: $font-primary;
  .summary-transaction-title {
    font-size: 22px;
    color: #666666;
    @include fontstyle(600, normal, normal, 0.4px);
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
  }
  .summary-transaction-amount {
    margin-top: 2.5em;
    .summary-transaction-paymentcode {
      font-size: 13px;
      color: #666666;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .summary-transaction-totalamount {
      font-size: 26px;
      color: #666666;
      @include fontstyle(600, normal, normal, 0.4px);
    }
  }
  .summary-transaction-contentleft,
  .summary-transaction-contentright {
    margin-top: 15px;
  }
  .summary-transaction-detail {
    .summary-transaction-detail-thankyou {
      font-size: 12px;
      color: #666666;
      @include fontstyle(400, normal, normal, 0.4px);
    }
    .summary-transaction-detail-verification {
      font-size: 14px;
      color: #666666;
      @include fontstyle(300, normal, normal, 0.4px);
    }
  }
  .summary-transaction-viewdetail {
    border-radius: 2px;
    font-family: $font-primary;
    font-size: 13px;
    color: #ffffff;
    border: 0;
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    text-transform: capitalize;
    @include fontstyle(400, normal, normal, 0.6px);
    &:hover, &:focus {
      color: #ffffff;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    }
  }
}
.dashboard_summary-transaction {
  .dash_sum-transaction-banner {
    text-align: center;
    background: #f9f9f9;
    color: #888888;
    &:hover {
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      color: #ffffff;
    }
  }
  .dash_sum-transaction-status {
    border: 1px solid $f6b092 !important;
    color: $logo-color-primary;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(600, normal, normal, 0.8px);
    background: none !important;
  }
  .dash_sum-transaction-title {
    font-family: $font-primary;
    font-size: 18px;
    color: #555555;
    @include fontstyle(600, normal, normal, 0.8px);
    margin-top: 10px;
  }
  .dash_sum-transaction-labelpremium {
    background: linear-gradient(97deg, $logo-color-primary, $f6b092);
    color: #ffffff;
    font-size: 12px;
    @include fontstyle(600, normal, normal, 0.8px);
    text-transform: capitalize;
  }
  .dash_sum-transaction-orderdate {
    font-family: $font-primary;
    font-size: 11px;
    color: #888888;
    @include fontstyle(400, normal, normal, 0.8px);
  }
  .dash_sum-transaction-view {
    color: #888888;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.8px);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    &:hover, &:focus {
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      color: #ffffff;
    }
  }
}
.filter-statustransaction-label {
  font-family: $font-primary;
  font-size: 13px;
  color: #888888;
  @include fontstyle(400, normal, normal, 0.8px);
}
.filter-statustransaction-list {
  overflow-x: hidden;
  &:hover { overflow-x: scroll; }
  padding-bottom: 10px;
  white-space: nowrap;
  a {
    color: #888888;
    font-family: $font-primary;
    font-size: 12px;
    @include fontstyle(400, normal, normal, 0.8px);
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #e9e9e9;
    text-transform: capitalize;
    &:hover, &:focus {
      border: 1px solid $f6b092;
      background: linear-gradient(97deg, $logo-color-primary, $f6b092);
      color: #ffffff;
    }
    margin-left: 5px;
    margin-right: 5px;
  }
}

.orderlist_content {
  border: 1px solid #eeeeee;
  box-shadow: none;
}

.signup_login {
  background: none;
  .signup_login_container {
    border-radius: 4px;
    background: none;
    .signup_login_heading {
      color: #666666;
      font-family: $font-primary;
      font-size: 28px;
      @include fontstyle(400, normal, normal, 0.8px);
      text-align: center;
    }
    .signup_login_icon {
      text-align: center;
      font-size: 90px;
      color: #ffffff;
    }
    .signup_login_text {
      font-size: 24px;
      color: #ffffff;
      font-family: $font-primary;
      @include fontstyle(300, normal, normal, 0.4px);
      text-align: center;
      margin-top: 30px;
    }
    &:hover, &:focus {
      text-decoration: none;
      background: #ffffff;
      transition: all 0.20s ease 0s;
      -moz-transition: all 0.20s ease 0s;
      -webkit-transition: all 0.20s ease 0s;
      .signup_login_icon,
      .signup_login_text
       { color: $logo-color-primary; }
    }
  }
  .signup_login_backtohome {
    border: 0;
    background: none;
    color: #ffffff;
    font-size: 14px;
    font-family: $font-primary;
    @include fontstyle(400, normal, normal, 0.4px);
    border-radius: 3px;
    text-transform: capitalize;
    margin-top: 30px;
    &:hover, &:focus {
      border: 0;
      background: #ffffff;
      color: $logo-color-primary;
    }
  }
}
