
$f6a192:	rgb(246,161,146);
$f6b092:	rgb(246,176,146);
$f6c492:	rgb(246,196,146);
$f6cf92:	rgb(246,207,146);
$f6d992:	rgb(246,217,146);

// Body
$body-bg: #ffffff;

// Typography
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$logo-color-primary: $f6a192;
$logo-color-secondary: $f6d992;

@mixin fontstyle( $weight, $stretch, $style, $spacing ) {
  font-weight: $weight;
  font-stretch: $stretch;
  font-style: $style;
  letter-spacing: $spacing;
}

$gradient-color: linear-gradient(97deg, $f6a192, $f6d992);
$webkit-gradient-color: -webkit-gradient(97deg, $f6a192, $f6d992);
